In [1]:
import json
import pandas as pd
import numpy as np
import re
from sqlalchemy import create_engine 
import psycopg2
from config import db_password
import time

In [2]:
# Define a variable for the directory that's holding the data
file_dir = "C:/Users/krumb/Classwork/Movies_ETL"

In [3]:
kaggle_metadata = pd.read_csv(f"{file_dir}/Data/movies_metadata.csv")
ratings = pd.read_csv(f"{file_dir}/Data/ratings.csv")

C:\Users\krumb\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
# To open the file in the directory instead of needing to type out entire directory every time
# If I move files, I only need to update the file_dir rather than 
f"{file_dir}wikipedia.movies.json"

'C:/Users/krumb/Classwork/Movies_ETLwikipedia.movies.json'

In [5]:
# Load the JSON file into a list of dictionaries
with open(f"{file_dir}/Data/wikipedia.movies.json", mode="r") as file:
    wiki_movies_raw = json.load(file)

In [6]:
# Create a fiter expression only for movies with a director and IMDb link
wiki_movies = [movie for movie in wiki_movies_raw
                if ("Director" in movie or "Directed by" in movie) 
                and "imdb_link" in movie
                and "No. of episodes" not in movie]

In [7]:
# Handle alternative titles by creating an empty dictionary
# loop through all alt. title keys
# if they exist, remove the key-value pair and add to alt. titles dict.
def clean_movie(movie):
    movie = dict(movie) # create a non-destructive copy
    alt_titles = {}
    # combine alternate titles into one list
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCuneâ€“Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key)
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles 

    # merger column names that mean the same thing
    def change_column_name(old_name, new_name):
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)
    change_column_name('Adaptation by', 'Writer(s)')
    change_column_name('Country of origin', 'Country')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')

    return movie

In [10]:
# Make a list of cleanned movies with a list comprehension
try:
    clean_movies = [clean_movie(movie) for movie in wiki_movies]
    wiki_movies_df = pd.DataFrame(clean_movies)
except:
    print ("Unable to transform wikipedia data into DataFrame.")

In [11]:
# "(tt\d{7}}" the {7} says to match the last thing exactly 7 times
# doing this to get each individual movie with an IMDb 
# need to put an 'r' in front of the quotes because there is a backslash being used
wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')
wiki_movies_df.drop_duplicates(subset='imdb_id', inplace=True)

In [12]:
# How to get rid of columns where 90% of the values are null
wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]
wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]

In [13]:
# BOX OFFICE
# Box office data should be numeric. Only want to look at rows that has defined data (aka drop missing values) 
box_office = wiki_movies_df["Box office"].dropna()

In [14]:
# Can see that some are stored as lists. We want to use a join() function and use a space as our joining character
box_office = box_office.apply(lambda x: " ".join(x) if type(x) == list else x)

In [15]:
# Create a regular expression to catch all of the box office values
# Fixing pattern matches
#   Some values have spaces in between the dollar sign and the number...just need to add '\s*' after the $
#   When million is misspelled. Just need to make the second i optional
form_one = r"\$\s*\d+\.?\d*\s*[mb]illi?on"

In [16]:
# Count how many box office values match our first form
# To ignore whether letters are upper or lowercase, add the argument 'flags' and set it equal to 're.IGNORECASE'
box_office.str.contains(form_one, flags=re.IGNORECASE).sum()

3903

In [17]:
# Next, create a reg. ex. that matches the form '$123,456,789'
# Fixing pattern matches
#   Some values have spaces in between the dollar sign and the number...just need to add '\s*'
#   Some values use a period as a thousands separator, not a comma, add in '[,\.]'
#   Need to add a negatice lookahead because we don't want to catch values like '1.234 billion'
form_two = r"\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)"
box_office.str.contains(form_two, flags=re.IGNORECASE).sum()

1559

In [18]:
# Want to see if any values aren't descibed by either form, and if any value is described by both
matches_form_one = box_office.str.contains(form_one, flags=re.IGNORECASE)
matches_form_two = box_office.str.contains(form_two, flags=re.IGNORECASE)

In [19]:
# Solve values given as a range
box_office = box_office.str.replace(r"\$.*[---](?![a-z])", "$", regex=True)

In [21]:
# Need a function to turn the extracted values into a numeric value
def parse_dollars(s):
    # if s is not a string, return NaN
    if type(s) != str:
        return np.nan

    # if input is of the form $###.# million
    if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " million"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a million
        value = float(s) * 10**6

        # return value
        return value

    # if input is of the form $###.# billion
    elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " billion"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a billion
        value = float(s) * 10**9

        # return value
        return value

    # if input is of the form $###,###,###
    elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):

        # remove dollar sign and commas
        s = re.sub('\$|,','', s)

        # convert to float
        value = float(s)

        # return value
        return value

    # otherwise, return NaN
    else:
        return np.nan

In [22]:
# Now we can parse the box office values to numeric values
#   Extract values from box_office using str.extract and apply parse_dollars to the first column of the dataframe
wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [23]:
# No longer need the box office column, so we may drop it 
wiki_movies_df.drop('Box office', axis=1, inplace=True)

In [24]:
# BUDGET
# Create a budget variable
budget = wiki_movies_df['Budget'].dropna()

In [25]:
# Convert lists to strings
budget = budget.map(lambda x: ' '.join(x) if type(x) == list else x)

In [26]:
# Remove values between a $ and a hyphen
budget = budget.str.replace(r'\$.*[-â€”â€“](?![a-z])', '$', regex=True)

In [27]:
# Parse the budget data
matches_form_one = budget.str.contains(form_one, flags=re.IGNORECASE)
matches_form_two = budget.str.contains(form_two, flags=re.IGNORECASE)

In [28]:
# Remove citation references
budget = budget.str.replace(r'\[\d+\]\s*', '')

In [29]:
# Can now parse the budget values
wiki_movies_df['budget'] = budget.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [30]:
# Drop the original budget column
wiki_movies_df.drop('Budget', axis=1, inplace=True)

In [31]:
# RELEASE DATE
# Make a variable that holds non-null values of Release date in the dataframe, converting lists to strings
release_date = wiki_movies_df['Release date'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [32]:
# What we'll be parsing:
#   January 1, 2000....form_one
#   2000-01-01....form_two
#   January 2000....form_three
#   four-digit year....form_four
date_form_one = r"(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]\d,\s\d{4}"
date_form_two = r"\d{4}.[01]\d.[123]\d"
date_form_three = r"(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}"
date_form_four = r"\d{4}"

In [33]:
# Use the built-in to_datetime() method in Pandas
# There are different date formats, want to set the 'infer_datetime_format' to 'True'
wiki_movies_df['release_date'] = pd.to_datetime(release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})')[0], infer_datetime_format=True)

In [34]:
# RUNNING TIME
# Make a variable that holds the non-null values of Running time in the dataframe
running_time = wiki_movies_df['Running time'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [35]:
# Need to match all the hour + minute patterns with one regex. Must:
#   Start with one digit
#   Have an optional space after the digit and before "h"
#   Capture all abbreviations of "hour(s)". Need to make every letter optional except the "h"
#   Have an optional space after hours marker
#   Have optional number of digits for minutes
#   CODE = \d+\s*ho?u?r?s?\s*\d*
#   Want to only extract digits, so add capture groups () around the digits. Also, add in the or statement | for the other form
running_time_extract = running_time.str.extract(r'(\d+)\s*ho?u?r?s?\s*(\d*)|(\d+)\s*m')

In [36]:
# The dataframe is all strings, so we need to convert to numeric values. Use 'to_numeric()'
# Set the errors arguement to 'coerce', this will turn empty strings to NaN
# We can then use 'fillna()' to change all NaN's to zero 
running_time_extract = running_time_extract.apply(lambda col: pd.to_numeric(col, errors='coerce')).fillna(0)

In [37]:
# Apply a function that will convert the hour and minute capture groups to minutes
wiki_movies_df['running_time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)

In [38]:
# Can now drop Running time from the dataset
wiki_movies_df.drop('Running time', axis=1, inplace=True)

In [39]:
# Keep rows where adult column is False, and drop adult column
kaggle_metadata = kaggle_metadata[kaggle_metadata['adult'] == 'False'].drop('adult',axis='columns')

In [40]:
# Convert data types
kaggle_metadata['video'] == 'True'

0        False
1        False
2        False
3        False
4        False
         ...
45461    False
45462    False
45463    False
45464    False
45465    False
Name: video, Length: 45454, dtype: bool

In [41]:
# Assign  it back to video
kaggle_metadata['video'] = kaggle_metadata['video'] == 'True'

In [42]:
# For numeric columns: use to_numeric(), and make sure errors= is set to 'raise' so we know of any data that can't be converted to numbers
kaggle_metadata['budget'] = kaggle_metadata['budget'].astype(int)
kaggle_metadata['id'] = pd.to_numeric(kaggle_metadata['id'], errors='raise')
kaggle_metadata['popularity'] = pd.to_numeric(kaggle_metadata['popularity'], errors='raise')

In [43]:
# Convert release_date to datetime
kaggle_metadata['release_date'] = pd.to_datetime(kaggle_metadata['release_date'])

In [44]:
# RATINGS DATA
# Use null_counts with option True 
ratings.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26024289 entries, 0 to 26024288
Data columns (total 4 columns):
userId       26024289 non-null int64
movieId      26024289 non-null int64
rating       26024289 non-null float64
timestamp    26024289 non-null int64
dtypes: float64(1), int64(3)
memory usage: 794.2 MB

In [45]:
# Use to_datetime() 'unix' as the time unit in seconds(s)
pd.to_datetime(ratings['timestamp'], unit='s')

0          2015-03-09 22:52:09
1          2015-03-09 23:07:15
2          2015-03-09 22:52:03
3          2015-03-09 22:52:26
4          2015-03-09 22:52:36
                   ...
26024284   2009-10-31 23:26:04
26024285   2009-10-31 23:33:52
26024286   2009-10-31 23:29:24
26024287   2009-11-01 00:06:30
26024288   2009-10-31 23:30:58
Name: timestamp, Length: 26024289, dtype: datetime64[ns]

In [46]:
# Dates look good, so assign to timestamp column
ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], unit='s')

In [47]:
# MERGING DATA
# Print list of columns so we can see what is redundant
movies_df = pd.merge(wiki_movies_df, kaggle_metadata, on='imdb_id', suffixes=['_wiki','_kaggle'])

In [48]:
# Competing data:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle            Drop wikipedia
# running_time             runtime                 Keep kaggle data, but fill in zeros with wikipedia data                
# budget_wiki              budget_kaggle           Keep kaggle data, but fill in zeros with wikipedia data
# box_office               revenue                 Keep kaggle data, but fill in zeros with wikipedia data
# release_date_wiki        release_date_kaggle
# Language                 original_language       Drop wikipedia
# Production company(s)    production_companies

In [49]:
# PUT IT ALL TOGETHER
movies_df.drop(columns=['title_wiki','release_date_wiki','Language','Production company(s)'], inplace=True)

In [50]:
# Make a function that fills in missing data for a column pair, then drops the redundant column
def fill_missing_kaggle_data(df, kaggle_column, wiki_column):
    df[kaggle_column] = df.apply(
        lambda row: row[wiki_column] if row[kaggle_column] == 0 else row[kaggle_column]
        , axis=1)
    df.drop(columns=wiki_column, inplace=True)

In [51]:
# Call the new function for the columns we will be filling in that have zeros
fill_missing_kaggle_data(movies_df, 'runtime', 'running_time')
fill_missing_kaggle_data(movies_df, 'budget_kaggle', 'budget_wiki')
fill_missing_kaggle_data(movies_df, 'revenue', 'box_office')

In [52]:
# Reorder the rows
movies_df = movies_df[['imdb_id','id','title_kaggle','original_title','tagline','belongs_to_collection','url','imdb_link',
                       'runtime','budget_kaggle','revenue','release_date_kaggle','popularity','vote_average','vote_count',
                       'genres','original_language','overview','spoken_languages','Country',
                       'production_companies','production_countries','Distributor',
                       'Producer(s)','Director','Starring','Cinematography','Editor(s)','Writer(s)','Composer(s)','Based on'
                      ]]

In [53]:
# Rename columns
movies_df.rename({'id':'kaggle_id',
                  'title_kaggle':'title',
                  'url':'wikipedia_url',
                  'budget_kaggle':'budget',
                  'release_date_kaggle':'release_date',
                  'Country':'country',
                  'Distributor':'distributor',
                  'Producer(s)':'producers',
                  'Director':'director',
                  'Starring':'starring',
                  'Cinematography':'cinematography',
                  'Editor(s)':'editors',
                  'Writer(s)':'writers',
                  'Composer(s)':'composers',
                  'Based on':'based_on'
                 }, axis='columns', inplace=True)

In [54]:
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1) \
                .pivot(index='movieId',columns='rating', values='count')

In [55]:
rating_counts.columns = ['rating_' + str(col) for col in rating_counts.columns]

In [56]:
# Use a left merge
movies_with_ratings_df = pd.merge(movies_df, rating_counts, left_on='kaggle_id', right_index=True, how='left')

In [57]:
movies_with_ratings_df[rating_counts.columns] = movies_with_ratings_df[rating_counts.columns].fillna(0)

In [58]:
# START DATA LOAD
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/movie_data"

In [59]:
# Create a database engine 
engine = create_engine(db_string)

In [60]:
# IMPORT MOVIE DATA
movies_df.to_sql(name='movies', con=engine, if_exists="replace")

In [ ]:
# LOAD IN THE RATINGS DATA
# Create variable for number of rows imported
rows_imported = 0
# get the start_time from time.time()
start_time = time.time()

for data in pd.read_csv(f'{file_dir}/Data/ratings.csv', chunksize=100000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='ratings', con=engine, if_exists='append')
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 100000...Done. 13.348315477371216 total seconds elapsed
importing rows 100000 to 200000...Done. 25.272439002990723 total seconds elapsed
importing rows 200000 to 300000...Done. 37.27848505973816 total seconds elapsed
importing rows 300000 to 400000...Done. 48.7588574886322 total seconds elapsed
importing rows 400000 to 500000...Done. 60.501654624938965 total seconds elapsed
importing rows 500000 to 600000...Done. 72.109934091568 total seconds elapsed
importing rows 600000 to 700000...Done. 84.25073885917664 total seconds elapsed
importing rows 700000 to 800000...Done. 96.81627798080444 total seconds elapsed
importing rows 800000 to 900000...Done. 109.11094546318054 total seconds elapsed
importing rows 900000 to 1000000...Done. 120.97537970542908 total seconds elapsed
importing rows 1000000 to 1100000...Done. 132.7213840484619 total seconds elapsed
importing rows 1100000 to 1200000...Done. 144.3063883781433 total seconds elapsed
importing rows 1200000 to 1300000...Done. 156.66049909591675 total seconds elapsed
importing rows 1300000 to 1400000...Done. 168.30771398544312 total seconds elapsed
importing rows 1400000 to 1500000...Done. 180.02833890914917 total seconds elapsed
importing rows 1500000 to 1600000...Done. 192.17761850357056 total seconds elapsed
importing rows 1600000 to 1700000...Done. 204.4549400806427 total seconds elapsed
importing rows 1700000 to 1800000...Done. 217.18911576271057 total seconds elapsed
importing rows 1800000 to 1900000...Done. 229.61690592765808 total seconds elapsed
importing rows 1900000 to 2000000...Done. 243.36016416549683 total seconds elapsed
importing rows 2000000 to 2100000...Done. 255.73115611076355 total seconds elapsed
importing rows 2100000 to 2200000...Done. 268.17101764678955 total seconds elapsed
importing rows 2200000 to 2300000...Done. 280.2088348865509 total seconds elapsed
importing rows 2300000 to 2400000...Done. 292.2147841453552 total seconds elapsed
importing rows 2400000 to 2500000...Done. 303.8346788883209 total seconds elapsed
importing rows 2500000 to 2600000...Done. 315.9165463447571 total seconds elapsed
importing rows 2600000 to 2700000...Done. 327.69705176353455 total seconds elapsed
importing rows 2700000 to 2800000...Done. 339.37283730506897 total seconds elapsed
importing rows 2800000 to 2900000...Done. 350.74342107772827 total seconds elapsed
importing rows 2900000 to 3000000...Done. 362.36935925483704 total seconds elapsed
importing rows 3000000 to 3100000...Done. 373.9892876148224 total seconds elapsed
importing rows 3100000 to 3200000...Done. 385.65608263015747 total seconds elapsed
importing rows 3200000 to 3300000...Done. 397.2720305919647 total seconds elapsed
importing rows 3300000 to 3400000...Done. 408.98471760749817 total seconds elapsed
importing rows 3400000 to 3500000...Done. 420.7073760032654 total seconds elapsed
importing rows 3500000 to 3600000...Done. 432.1108901500702 total seconds elapsed
importing rows 3600000 to 3700000...Done. 443.7807083129883 total seconds elapsed
importing rows 3700000 to 3800000...Done. 455.259978055954 total seconds elapsed
importing rows 3800000 to 3900000...Done. 467.0395760536194 total seconds elapsed
importing rows 3900000 to 4000000...Done. 478.5458345413208 total seconds elapsed
importing rows 4000000 to 4100000...Done. 490.23853158950806 total seconds elapsed
importing rows 4100000 to 4200000...Done. 501.92852783203125 total seconds elapsed
importing rows 4200000 to 4300000...Done. 515.3087315559387 total seconds elapsed
importing rows 4300000 to 4400000...Done. 529.5576860904694 total seconds elapsed
importing rows 4400000 to 4500000...Done. 542.719484090805 total seconds elapsed
importing rows 4500000 to 4600000...Done. 556.086748123169 total seconds elapsed
importing rows 4600000 to 4700000...Done. 569.6345295906067 total seconds elapsed
importing rows 4700000 to 4800000...Done. 582.8960428237915 total seconds elapsed
importing rows 4800000 to 4900000...Done. 596.1117107868195 total seconds elapsed
importing rows 4900000 to 5000000...Done. 610.6089541912079 total seconds elapsed
importing rows 5000000 to 5100000...Done. 624.1218283176422 total seconds elapsed
importing rows 5100000 to 5200000...Done. 637.7663507461548 total seconds elapsed
importing rows 5200000 to 5300000...Done. 651.3191196918488 total seconds elapsed
importing rows 5300000 to 5400000...Done. 665.1680989265442 total seconds elapsed
importing rows 5400000 to 5500000...Done. 678.5892462730408 total seconds elapsed
importing rows 5500000 to 5600000...Done. 694.7958884239197 total seconds elapsed
importing rows 5600000 to 5700000...Done. 709.3519785404205 total seconds elapsed
importing rows 5700000 to 5800000...Done. 722.7880520820618 total seconds elapsed
importing rows 5800000 to 5900000...Done. 736.0645625591278 total seconds elapsed
importing rows 5900000 to 6000000...Done. 749.4916622638702 total seconds elapsed
importing rows 6000000 to 6100000...Done. 763.3077259063721 total seconds elapsed
importing rows 6100000 to 6200000...Done. 777.0469954013824 total seconds elapsed
importing rows 6200000 to 6300000...Done. 790.4750967025757 total seconds elapsed
importing rows 6300000 to 6400000...Done. 803.9271337985992 total seconds elapsed
importing rows 6400000 to 6500000...Done. 817.1278445720673 total seconds elapsed
importing rows 6500000 to 6600000...Done. 830.4362666606903 total seconds elapsed
importing rows 6600000 to 6700000...Done. 843.7267329692841 total seconds elapsed
importing rows 6700000 to 6800000...Done. 857.092001914978 total seconds elapsed
importing rows 6800000 to 6900000...Done. 870.6407806873322 total seconds elapsed
importing rows 6900000 to 7000000...Done. 884.2154891490936 total seconds elapsed
importing rows 7000000 to 7100000...Done. 1693.7718329429626 total seconds elapsed
importing rows 7100000 to 7200000...Done. 1707.5809953212738 total seconds elapsed
importing rows 7200000 to 7300000...Done. 1720.9975187778473 total seconds elapsed
importing rows 7300000 to 7400000...Done. 1733.6040208339691 total seconds elapsed
importing rows 7400000 to 7500000...Done. 1745.8542459011078 total seconds elapsed
importing rows 7500000 to 7600000...Done. 1757.9549224376678 total seconds elapsed
importing rows 7600000 to 7700000...Done. 1770.2219183444977 total seconds elapsed
importing rows 7700000 to 7800000...Done. 1817.5825552940369 total seconds elapsed
importing rows 7800000 to 7900000...Done. 1862.9708783626556 total seconds elapsed
importing rows 7900000 to 8000000...Done. 1909.575196504593 total seconds elapsed
importing rows 8000000 to 8100000...Done. 1955.4982562065125 total seconds elapsed
importing rows 8100000 to 8200000...Done. 2002.0697567462921 total seconds elapsed
importing rows 8200000 to 8300000...Done. 2049.139028787613 total seconds elapsed
importing rows 8300000 to 8400000...Done. 2095.1338906288147 total seconds elapsed
importing rows 8400000 to 8500000...Done. 2142.6663377285004 total seconds elapsed
importing rows 8500000 to 8600000...Done. 2189.2066929340363 total seconds elapsed
importing rows 8600000 to 8700000...Done. 2236.263628721237 total seconds elapsed
importing rows 8700000 to 8800000...Done. 2287.5811953544617 total seconds elapsed
importing rows 8800000 to 8900000...Done. 2333.4700875282288 total seconds elapsed
importing rows 8900000 to 9000000...Done. 2380.179121017456 total seconds elapsed
importing rows 9000000 to 9100000...Done. 2428.7576122283936 total seconds elapsed
importing rows 9100000 to 9200000...Done. 2474.6512575149536 total seconds elapsed
importing rows 9200000 to 9300000...Done. 2521.9532928466797 total seconds elapsed
importing rows 9300000 to 9400000...Done. 2573.255870819092 total seconds elapsed
importing rows 9400000 to 9500000...Done. 2620.793125629425 total seconds elapsed
importing rows 9500000 to 9600000...Done. 2667.0463540554047 total seconds elapsed
importing rows 9600000 to 9700000...Done. 2714.4961488246918 total seconds elapsed
importing rows 9700000 to 9800000...Done. 2760.9621665477753 total seconds elapsed
importing rows 9800000 to 9900000...Done. 2809.5399470329285 total seconds elapsed
importing rows 9900000 to 10000000...Done. 2860.7180757522583 total seconds elapsed

importing rows 10000000 to 10100000...Done. 2911.1298019886017 total seconds elapsed
importing rows 10100000 to 10200000...Done. 2961.4738919734955 total seconds elapsed
importing rows 10200000 to 10300000...Done. 3008.052160024643 total seconds elapsed
importing rows 10300000 to 10400000...Done. 3055.663529396057 total seconds elapsed
importing rows 10400000 to 10500000...Done. 3105.121653318405 total seconds elapsed
importing rows 10500000 to 10600000...Done. 3152.954720020294 total seconds elapsed
importing rows 10600000 to 10700000...Done. 3198.9439346790314 total seconds elapsed
importing rows 10700000 to 10800000...Done. 3245.114735841751 total seconds elapsed
importing rows 10800000 to 10900000...Done. 3292.870590686798 total seconds elapsed
importing rows 10900000 to 11000000...Done. 3343.2901215553284 total seconds elapsed
importing rows 11000000 to 11100000...Done. 3390.1731073856354 total seconds elapsed
importing rows 11100000 to 11200000...Done. 3435.1074435710907 total seconds elapsed
importing rows 11200000 to 11300000...Done. 3480.8108007907867 total seconds elapsed
importing rows 11300000 to 11400000...Done. 3527.005183696747 total seconds elapsed
importing rows 11400000 to 11500000...Done. 3574.366608142853 total seconds elapsed
importing rows 11500000 to 11600000...Done. 3622.1597657203674 total seconds elapsed
importing rows 11600000 to 11700000...Done. 3673.0255501270294 total seconds elapsed
importing rows 11700000 to 11800000...Done. 3721.0929803848267 total seconds elapsed
importing rows 11800000 to 11900000...Done. 3769.8599734306335 total seconds elapsed
importing rows 11900000 to 12000000...Done. 3817.20122051239 total seconds elapsed
importing rows 12000000 to 12100000...Done. 3865.2375333309174 total seconds elapsed
importing rows 12100000 to 12200000...Done. 3913.9198648929596 total seconds elapsed
importing rows 12200000 to 12300000...Done. 3966.0404720306396 total seconds elapsed
importing rows 12300000 to 12400000...Done. 4013.564584493637 total seconds elapsed
importing rows 12400000 to 12500000...Done. 4060.128173351288 total seconds elapsed
importing rows 12500000 to 12600000...Done. 4109.19401550293 total seconds elapsed
importing rows 12600000 to 12700000...Done. 4156.182508468628 total seconds elapsed
importing rows 12700000 to 12800000...Done. 4203.57624745369 total seconds elapsed
importing rows 12800000 to 12900000...Done. 4250.6076028347015 total seconds elapsed
importing rows 12900000 to 13000000...Done. 4295.560889720917 total seconds elapsed
importing rows 13000000 to 13100000...Done. 4342.649735689163 total seconds elapsed
importing rows 13100000 to 13200000...Done. 4389.7745978832245 total seconds elapsed
importing rows 13200000 to 13300000...Done. 4437.98507809639 total seconds elapsed
importing rows 13300000 to 13400000...Done. 4487.860652208328 total seconds elapsed
importing rows 13400000 to 13500000...Done. 4534.160217285156 total seconds elapsed
importing rows 13500000 to 13600000...Done. 4582.6238052845 total seconds elapsed
importing rows 13600000 to 13700000...Done. 4629.571017503738 total seconds elapsed
importing rows 13700000 to 13800000...Done. 4677.156086206436 total seconds elapsed
importing rows 13800000 to 13900000...Done. 4727.348812580109 total seconds elapsed
importing rows 13900000 to 14000000...Done. 4777.852358579636 total seconds elapsed
importing rows 14000000 to 14100000...Done. 4827.799117565155 total seconds elapsed
importing rows 14100000 to 14200000...Done. 4876.532071590424 total seconds elapsed
importing rows 14200000 to 14300000...Done. 4923.663829565048 total seconds elapsed
importing rows 14300000 to 14400000...Done. 4973.596127271652 total seconds elapsed
importing rows 14400000 to 14500000...Done. 5020.15598320961 total seconds elapsed
importing rows 14500000 to 14600000...Done. 5068.850123882294 total seconds elapsed
importing rows 14600000 to 14700000...Done. 5116.15204167366 total seconds elapsed
importing rows 14700000 to 14800000...Done. 5163.378951311111 total seconds elapsed
importing rows 14800000 to 14900000...Done. 5210.61722612381 total seconds elapsed
importing rows 14900000 to 15000000...Done. 5257.169267654419 total seconds elapsed
importing rows 15000000 to 15100000...Done. 5304.850491285324 total seconds elapsed
importing rows 15100000 to 15200000...Done. 5352.370828151703 total seconds elapsed
importing rows 15200000 to 15300000...Done. 5401.336646556854 total seconds elapsed
importing rows 15300000 to 15400000...Done. 5450.009222269058 total seconds elapsed
importing rows 15400000 to 15500000...Done. 5498.088463783264 total seconds elapsed
importing rows 15500000 to 15600000...Done. 5544.771078586578 total seconds elapsed
importing rows 15600000 to 15700000...Done. 5592.655842781067 total seconds elapsed
importing rows 15700000 to 15800000...Done. 5639.9638476371765 total seconds elapsed
importing rows 15800000 to 15900000...Done. 5686.587527275085 total seconds elapsed
importing rows 15900000 to 16000000...Done. 5735.7318794727325 total seconds elapsed
importing rows 16000000 to 16100000...Done. 5782.142035245895 total seconds elapsed
importing rows 16100000 to 16200000...Done. 5827.42989563942 total seconds elapsed
importing rows 16200000 to 16300000...Done. 5873.343005180359 total seconds elapsed
importing rows 16300000 to 16400000...Done. 5919.012852907181 total seconds elapsed
importing rows 16400000 to 16500000...Done. 5965.192037820816 total seconds elapsed
importing rows 16500000 to 16600000...Done. 6014.442235946655 total seconds elapsed
importing rows 16600000 to 16700000...Done. 6064.768292427063 total seconds elapsed
importing rows 16700000 to 16800000...Done. 6117.122315168381 total seconds elapsed
importing rows 16800000 to 16900000...Done. 6167.934965372086 total seconds elapsed
importing rows 16900000 to 17000000...Done. 6216.759415388107 total seconds elapsed
importing rows 17000000 to 17100000...Done. 6263.930965185165 total seconds elapsed
importing rows 17100000 to 17200000...Done. 6313.844623327255 total seconds elapsed
importing rows 17200000 to 17300000...Done. 6359.73600435257 total seconds elapsed
importing rows 17300000 to 17400000...Done. 6406.010027647018 total seconds elapsed
importing rows 17400000 to 17500000...Done. 6452.942891597748 total seconds elapsed
importing rows 17500000 to 17600000...Done. 6500.452514410019 total seconds elapsed
importing rows 17600000 to 17700000...Done. 6547.31577706337 total seconds elapsed
importing rows 17700000 to 17800000...Done. 6594.245600700378 total seconds elapsed
importing rows 17800000 to 17900000...Done. 6641.454731941223 total seconds elapsed
importing rows 17900000 to 18000000...Done. 6689.026726484299 total seconds elapsed
importing rows 18000000 to 18100000...Done. 6737.493047952652 total seconds elapsed
importing rows 18100000 to 18200000...Done. 6790.331611394882 total seconds elapsed
importing rows 18200000 to 18300000...Done. 6836.4749364852905 total seconds elapsed
importing rows 18300000 to 18400000...Done. 6885.024099349976 total seconds elapsed
importing rows 18400000 to 18500000...Done. 6934.126195669174 total seconds elapsed
importing rows 18500000 to 18600000...Done. 6981.8863344192505 total seconds elapsed
importing rows 18600000 to 18700000...Done. 7029.055444955826 total seconds elapsed
importing rows 18700000 to 18800000...Done. 7074.915360689163 total seconds elapsed
importing rows 18800000 to 18900000...Done. 7121.1899061203 total seconds elapsed
importing rows 18900000 to 19000000...Done. 7167.915194272995 total seconds elapsed
importing rows 19000000 to 19100000...Done. 7213.379446268082 total seconds elapsed
importing rows 19100000 to 19200000...Done. 7259.279886007309 total seconds elapsed
importing rows 19200000 to 19300000...Done. 7304.19588470459 total seconds elapsed
importing rows 19300000 to 19400000...Done. 7348.631963729858 total seconds elapsed
importing rows 19400000 to 19500000...Done. 7394.424062490463 total seconds elapsed
importing rows 19500000 to 19600000...Done. 7442.42117190361 total seconds elapsed
importing rows 19600000 to 19700000...Done. 7490.19374537468 total seconds elapsed
importing rows 19700000 to 19800000...Done. 7538.771385669708 total seconds elapsed

importing rows 19800000 to 19900000...Done. 7585.243246793747 total seconds elapsed
importing rows 19900000 to 20000000...